/*
   ANIMATION DURATION
*/

  .a-dur0  { animation-duration: 0; }
  .a-dur1  { animation-duration: .1s; }
  .a-dur2  { animation-duration: .2s; }
  .a-dur3  { animation-duration: .4s; }
  .a-dur4  { animation-duration: .5s; }
  .a-dur5  { animation-duration: .7s; }
  .a-dur6  { animation-duration: 1s;  }
  .a-dur7  { animation-duration: 1.5s; }
  .a-dur8  { animation-duration: 2s; }
  .a-dur9  { animation-duration: 2.5s; }
  .a-dur10 { animation-duration: 4s;  }
  .a-dur11 { animation-duration: 8s;  }
  .a-dur12 { animation-duration: 12s;  }

@media screen and (min-width: 32em) {
  .a-dur0-s   { animation-duration: 0; }
  .a-dur1-s   { animation-duration: .1s; }
  .a-dur2-s   { animation-duration: .2s; }
  .a-dur3-s   { animation-duration: .4s; }
  .a-dur4-s   { animation-duration: .5s; }
  .a-dur5-s   { animation-duration: .7s; }
  .a-dur6-s   { animation-duration: 1s;  }
  .a-dur7-s   { animation-duration: 1.5s; }
  .a-dur8-s   { animation-duration: 2s; }
  .a-dur9-s   { animation-duration: 2.5s; }
  .a-dur10-s  { animation-duration: 4s;  }
  .a-dur11-s  { animation-duration: 8s;  }
  .a-dur12-s  { animation-duration: 12s;  }
}

@media screen and (min-width:48em) {
  .a-dur0-m   { animation-duration: 0; }
  .a-dur1-m   { animation-duration: .1s; }
  .a-dur2-m   { animation-duration: .2s; }
  .a-dur3-m   { animation-duration: .4s; }
  .a-dur4-m   { animation-duration: .5s; }
  .a-dur5-m   { animation-duration: .7s; }
  .a-dur6-m   { animation-duration: 1s;  }
  .a-dur7-m   { animation-duration: 1.5s; }
  .a-dur8-m   { animation-duration: 2s; }
  .a-dur9-m   { animation-duration: 2.5s; }
  .a-dur10-m  { animation-duration: 4s;  }
  .a-dur11-m  { animation-duration: 8s;  }
  .a-dur12-m  { animation-duration: 12s;  }
}

@media screen and (min-width: 96em) {
  .a-dur0-l   { animation-duration: 0; }
  .a-dur1-l   { animation-duration: .1s; }
  .a-dur2-l   { animation-duration: .2s; }
  .a-dur3-l   { animation-duration: .4s; }
  .a-dur4-l   { animation-duration: .5s; }
  .a-dur5-l   { animation-duration: .7s; }
  .a-dur6-l   { animation-duration: 1s;  }
  .a-dur7-l   { animation-duration: 1.5s; }
  .a-dur8-l   { animation-duration: 2s; }
  .a-dur9-l   { animation-duration: 2.5s; }
  .a-dur10-l  { animation-duration: 4s;  }
  .a-dur11-l  { animation-duration: 8s;  }
  .a-dur12-l  { animation-duration: 12s;  }
}
